Repository georgewilde/gatsby-starter-wilde-creations: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, stylelint --fix, prettier --write

.lintstagedrc:

{
  "*.{ts,tsx}": "eslint --cache --fix",
  "*.styled.ts": "stylelint --fix",
  "*.{js,jsx,json,md}": "prettier --write"
}

feat(repo): added support for unit tests
  .prettierrc
  __mocks__/file-mock.js
  __mocks__/gatsby.js
  jest.config.js
  jest.setup.ts
  package.json
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.spec.tsx
  src/components/footer/footer.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/header/header.spec.tsx
  src/components/header/header.tsx
  src/components/layout/layout.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(repo): add context as the way for components to access site metadata
  .eslintrc
  .huskyrc
  gatsby-browser.js
  gatsby-config.js
  gatsby-ssr.js
  jest.config.js
  package.json
  src/bootstrap/index.ts
  src/bootstrap/with-providers.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/header/header.spec.tsx
  src/components/header/header.tsx
  src/components/layout/layout.tsx
  src/context/site-metadata/index.ts
  src/context/site-metadata/site-metadata.ts
  src/css/materialize.min.css
  src/hooks/site-metadata.ts
  src/static/fonts/montserrat/Montserrat-Black.ttf
  src/static/fonts/montserrat/Montserrat-Bold.ttf
  src/static/fonts/montserrat/Montserrat-Italic.ttf
  src/static/fonts/montserrat/Montserrat-Light.ttf
  src/static/fonts/montserrat/Montserrat-Regular.ttf
  src/static/fonts/montserrat/Montserrat-Thin.ttf
  src/styles/theme/fonts.ts
  src/styles/theme/global-style.ts
  src/styles/theme/styled.d.ts
  src/styles/theme/theme-dark.ts
  src/styles/theme/theme.tsx
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(repo): get storybook working with typescript paths
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  src/components/header/header.stories.tsx
  tsconfig.json
Due: eslint --cache --fix, prettier --write

feat(storybook): convert storybook config files to typescript
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/main.js
  .storybook/tsconfig.json
  .storybook/webpack.config.js
  .storybook/webpack.config.ts
  package.json
  src/styles/materialize.min.css
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(storybook): add styled components heme to storybook
  .storybook/config.ts
  .storybook/decorators/app.tsx
  gatsby-config.js
  src/components/footer/__snapshots__/footer.spec.tsx.snap
  src/components/footer/footer.spec.tsx
  src/components/footer/footer.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/header/header.spec.tsx
  src/components/header/header.styled.ts
  src/components/header/header.tsx
  src/components/seo/__snapshots__/seo.spec.tsx.snap
  src/components/seo/seo.spec.tsx
  src/components/seo/seo.tsx
  src/context/site-metadata/site-metadata.ts
  src/hooks/site-metadata.ts
  src/pages/index.tsx
  src/styles/theme/global-style.ts
  src/styles/theme/theme-light.ts
  src/styles/theme/theme.tsx
Due: eslint --cache --fix, stylelint --fix, prettier --write

feat(www): update old header test snapshot
  src/components/header/__snapshots__/header.spec.tsx.snap
Due: none

feat(www): fix warning when running unit tests
  package.json
  src/components/seo/seo.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(www): remove obsolete snapshot test
  src/components/seo/__snapshots__/seo.spec.tsx.snap
Due: none

feat(repo): add import ordering rule
  .eslintrc
  .storybook/config.ts
  .storybook/decorators/app.tsx
  .storybook/preview-head.html
  jest.config.js
  package.json
  src/bootstrap/with-providers.tsx
  src/components/footer/footer.spec.tsx
  src/components/footer/footer.stories.tsx
  src/components/header/header.spec.tsx
  src/components/image/image.tsx
  src/components/layout/layout.tsx
  src/components/seo/seo.spec.tsx
  src/components/seo/seo.tsx
  src/hooks/index.ts
  src/pages/page-2.tsx
  src/static/styles/materialize.min.css
  src/styles/theme/theme.tsx
  src/themes/available-themes.ts
  src/themes/fonts.ts
  src/themes/global-style.ts
  src/themes/index.ts
  src/themes/styled.d.ts
  src/themes/theme-dark.ts
  src/themes/theme-light.ts
  src/themes/theme.tsx
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(storybook): add dark mode and JSX info to storybook
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/webpack.config.ts
  package.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(repo) replace default readme with starter specific instructions
  README.md
Due: prettier --write

feat(repo) correct typo on readme file
  README.md
Due: prettier --write

feat(repo) update titles on readme file
  README.md
Due: prettier --write

feat(storybook): deploy storybook to /docs folder
  README.md
  gatsby-config.js
  package.json
  src/components/footer/footer.tsx
Due: eslint --cache --fix, prettier --write

feat(repo): fix failing snapshot test
  src/components/footer/__snapshots__/footer.spec.tsx.snap
Due: none

feat(repo): update storybook config and story format to match best practices
  .eslintrc
  .storybook/addons.ts
  .storybook/config.ts
  .storybook/main.ts
  .storybook/preview-head.html
  .storybook/preview.ts
  .storybook/tsconfig.json
  .storybook/webpack.config.ts
  README.md
  __mocks__/index.ts
  __mocks__/site-metadata.ts
  jest.config.js
  package.json
  src/components/footer/__snapshots__/footer.stories.storyshot
  src/components/footer/footer.spec.tsx
  src/components/footer/footer.stories.tsx
  src/components/footer/footer.test.tsx
  src/components/header/__snapshots__/header.spec.tsx.snap
  src/components/header/__snapshots__/header.stories.storyshot
  src/components/header/header.spec.tsx
  src/components/header/header.stories.tsx
  src/components/header/header.test.tsx
  src/components/seo/__snapshots__/seo.spec.tsx.snap
  src/components/seo/seo.spec.tsx
  src/storybook.test.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, prettier --write

fix(storybook): update story titles to use new format
  src/components/footer/footer.stories.tsx
  src/components/header/header.stories.tsx
Due: eslint --cache --fix

feat(www): Add ability to easily and consistently create new React components
  .storybook/main.ts
  .storybook/webpack.config.ts
  README.md
  generators/component-generator.js
  generators/plopfile.js
  generators/templates/component/component.hbs
  generators/templates/component/index.hbs
  generators/templates/component/stories.hbs
  generators/templates/component/styled.hbs
  generators/templates/component/test.hbs
  generators/utils.js
  package.json
  src/components/footer/__snapshots__/footer.stories.storyshot
  src/components/header/__snapshots__/header.stories.storyshot
  src/pages/index.tsx
  src/themes/theme.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

feat(repo): Minor improvements to increase performance and maintainability
  .eslintrc
  .storybook/main.ts
  .storybook/preview.ts
  .storybook/webpack.config.ts
  babel-plugin-macros.config.js
  babel.config.js
  definitions/extend-expect.d.ts
  definitions/tailwind.d.ts
  gatsby-browser.js
  gatsby-config.js
  generators/component-generator.js
  generators/templates/component/component.hbs
  generators/templates/component/index.hbs
  generators/templates/component/styled.hbs
  generators/templates/component/test.hbs
  jest.config.js
  package.json
  src/components/button/__snapshots__/button.stories.storyshot
  src/components/button/button.model.ts
  src/components/button/button.stories.tsx
  src/components/button/button.styled.ts
  src/components/button/button.test.tsx
  src/components/button/button.tsx
  src/components/button/index.ts
  src/components/footer/__snapshots__/footer.stories.storyshot
  src/components/header/__snapshots__/header.stories.storyshot
  src/components/layout/layout.tsx
  src/pages/index.tsx
  src/static/styles/materialize.min.css
  src/static/styles/tailwind.css
  src/storybook.test.ts
  src/themes/global-style.ts
  tsconfig.json
  yarn.lock
Due: eslint --cache --fix, stylelint --fix, prettier --write

fix(storybook): fix "`babel-preset-gatsby` has been loaded" error when loading Storybook
  .storybook/main.ts
  babel.config.js
Due: eslint --cache --fix, prettier --write

fix(storybook): fix "`babel-preset-gatsby` has been loaded" error when loading Storybook
  babel.config.js
Due: prettier --write

fix(storybook): safeguard against jest looking for tests in the default Storybook static folder
  jest.config.js
Due: prettier --write

fix(www): correct issue when loading local fonts
  package.json
  src/themes/fonts-loader.ts
  src/themes/fonts.ts
Due: eslint --cache --fix, prettier --write
